<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">BIENVENUE SUR VOYZA</span>
        <span id="welcomeDescription">
            Voyza est un serveur survie postapocalyptique moddé !<br>
Serez-vous capable de relever les défis et terminé toutes les quêtes ?<br>
Ce que vous pourrez faire sur Voyza :
<ul>
    <li>Créer une base (seule ou à plusieurs)</li>
    <li>La défendre</li>
    <li>Faire des expéditions et remporter de l'équipement rare</li>
    <li>Et bien plus encore</li>
</ul>
Rendez-vous sur le <a href="https://voyza.fr/wiki">Wiki</a> pour en apprendre davantage !
        </span>
        <br>
        <span id="welcomeDescCTA">Vous n'êtes plus qu'à quelques cliques pour commencer l'aventure.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>